@import "./variables";
@import "./mixins";

.header{
    background-color: $white;
    color: $default-text;
    .links {
            color: $background-color;
            Nav.Link {
                color: $primary;
                &:active {
                    color: #da3f1c !important;
                }
            }
        }
}
  



