@mixin page-title {
  font-size: 48px;
  font-weight: bold;
  font-family: $font-family;
}

@mixin section-title{
  font-size: 24px;
  font-weight: bold;
  font-family: $font-family;
}

@mixin body-text {
  font-size: 16px;
  font-family: $font-family;
  font-weight: normal;
}